/********************************************* Base styling *********************************************/
body {
    background-color: lemonchiffon;
    font-family: Calibri,Verdana, serif; 
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: wheat;
    border-bottom: 1px solid gray;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

.header #logout {
    color: black;
    float: right;
}

/*********** Menu styling ***********/

.menu {  
    border-radius: 15px;
    float: left;
    font-size: 1.2em;
    margin-right: 24px;
    margin-top: 10px;
    position: relative;
    width: 200px;
}

.menu ul {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0px;  
    padding: 0;
}

.menu li {
    background-color: #FFF48F;
    -webkit-box-shadow: 0 6px 6px -6px black;
    -moz-box-shadow:    0 6px 6px -6px black;
    box-shadow:         0 6px 6px -6px black;
    border-radius: 15px;
    margin: 10px;
    margin-top: 0px;
    padding: 8px;    
    text-align:center;
}

.menu a {  
    color: black;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/*********** Blocks styling ***********/

.content {
    float: left;
    position: relative; 
    width: 800px;
}

.main {
    background-color: #FFF48F;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 6px 6px -6px black;
    -moz-box-shadow:    0 6px 6px -6px black;
    box-shadow:         0 6px 6px -6px black;  
    float: left;
    margin-top: 10px;
    position: relative;
    width: 100%;
}

.container {
    clear: both;
    margin: auto;
    width: 1024px;
}

.search_bar input[type="text"] {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 1px black;
    width:100%;
    padding:5px;
}

/*********** Table styling ***********/

th {
    color: white;
    background-color: black;
}

tr#even td{
    background-color: lemonchiffon;
}

td, th {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    border-collapse: collapse;
}

/*td #1 {
    background-color:
}*/

/********************************************* Home page styling *********************************************/
.library, .notifications {
    background-color: #FFF48F;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 6px 6px -6px black;
    -moz-box-shadow:    0 6px 6px -6px black;
    box-shadow:         0 6px 6px -6px black;  
    float: left;
    margin-top: 10px;
    position: relative;
}


.library {
    margin-right: 10px;
    width: 480px;
}

.notifications {
    width: 290px;
}

.blockContent {
    padding: 10px;
}

.notification {
    background-color: white;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 6px 6px -6px black;
    -moz-box-shadow:    0 6px 6px -6px black;
    box-shadow:         0 6px 6px -6px black;
    clear: both;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;   
    position: relative;
}

.blockHeader {
    background-color: wheat;
    border-bottom: 1px solid gray;    
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    display:table;
    padding: 0px;
    padding-left: 10px;
    width: 100%;
}